@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Desription)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back Without Saving", "Details", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Machine List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>