@{
  Layout = "_Layout";
}

@model Factory.Models.Location

<h2>Edit @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.LocationId)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back Without Saving", "Details", new { id = Model.LocationId })</p>
<p>@Html.ActionLink("Location List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>